<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <script>
        function loc(place){
            window.location.href = place
        }
    </script>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body style="background-color: rgba(21, 21, 21, 0.86); ">
    <div>
        <div style="border: 2px solid rgba(25, 24, 24, 0.797); height: 10vh; background-color:rgba(32, 31, 31, 0.79); margin-bottom: 10vh; align-items: center; display: flex; justify-content: center;">
            <div style="display: flex; justify-content: space-between; align-items: center; width: 70vw; font-size: 30px; color:rgba(224, 224, 224, 0.657);">
                <div>
                    <h4 style="cursor: pointer;" onclick="loc('/')">Home</h4>
                </div>
                <div>
                    <h4 style="cursor: pointer;" onclick="loc('/messages')">Messages</h4>
                </div>
                <div>
                    <h4 style="cursor: pointer;" onclick="loc('/create')">Create</h4>
                </div>
                <div>
                    <h4 style="cursor: pointer;" onclick="loc('/logout')">Logout</h4>
                </div>
            </div>
        </div>
    <form action="/create" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display: grid; justify-content: space-around;">
            <div>
                <input name="title" type="text" placeholder="Title" style="padding: 10px 10px 10px 10px; font-size: 20px; letter-spacing: 0.5px; background-color: rgba(24, 24, 24, 0.919); border: 0px; border-radius: 5px; color:rgba(186, 186, 186, 0.821)"/>
            </div>
            <div>
                <textarea name="content" style="width: 266.7px; border: 0px; border-radius: 5px; margin-top: 35px; color:rgba(186, 186, 186, 0.821); background-color: rgba(24, 24, 24, 0.919); font-size: 15px; letter-spacing: 0.5px; height: 180px; resize: none;" placeholder="Conetnt"></textarea>
            </div>
            <div>
                <input type="file" value="Upload" style="margin-top: 35px; padding: 10px 10px 10px 10px; background-color: rgba(22, 22, 22, 0.879); border: 1px solid rgba(8, 8, 8, 0.905); color:rgba(186, 186, 186, 0.821);" name="file" />
            </div>
            <div>
                <button type="submit" class="LoginButton" style="border: 2px; height: 70px; width: 70px; font-size: 20px; border-radius: 12px; margin-top: 35px;">Create</button>
            </div>
        </div>
    </form>
    
</body>
</html>