<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        function loc(place){
            window.location.href = place
        }
    </script>
    <link rel="stylesheet" href="../media/styles.css" />
    <link rel="icon" type="image/x-icon" href="/media/Libus.png">
</head>
<body style="background-color: rgba(21, 21, 21, 0.86);">
    <div style="border: 2px solid rgba(25, 24, 24, 0.797); height: 10vh; background-color:rgba(32, 31, 31, 0.79); margin-bottom: 10vh; align-items: center; display: flex; justify-content: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 40vw; font-size: 30px; color:rgba(224, 224, 224, 0.657)">
                <div>
                    <h4 style="cursor: pointer;" onclick="loc('/register')">Register</h4>
                </div>
            </div>
    </div>
    <!--<div style="display: grid; justify-content: space-around; align-items: center;">
        <div style="border: 5px solid rgba(206, 14, 0, 0.771); background-color: rgba(206, 14, 0, 0.238); height: auto; width: auto; display: grid; align-content: center; min-height: 60px; min-width: 250px; max-width: 700px; max-height: 60px;">
            <h4 style="font-size: 36px; padding-left: 1vw;">Error: </h4>
        </div>
    </div>-->
    <div style="display: grid; justify-content: space-around; align-items: center; font-size: 30px; color: rgba(213, 213, 213, 0.799);">
        <h1>Login</h1>
    </div>
    <div>
    <div style="display: grid; justify-content: space-around; padding-top: 100px;">
        {% if error %}
            <h2 style="color: rgb(255, 0, 0, 0.77);">Error: {{e}}</h2>
        {% endif %}
    </div>
    <form method="post" action="/login" style="display: grid; justify-content: space-around;">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
            <input placeholder="Username" name="username" style="padding: 12px 12px 12px 12px; border-radius: 8px; letter-spacing: 0.5px; font-size: x-large; background-color: rgba(31, 31, 31, 0.861); border-color: rgba(0, 0, 0, 0); color: rgba(196, 196, 196, 0.9);"/>
        </div>
        <div style="margin-bottom: 15px;">
            <input type="password" placeholder="Password" name="password"  style="padding: 12px 12px 12px 12px; border-radius: 8px; letter-spacing: 0.5px; font-size: x-large; background-color: rgba(31, 31, 31, 0.861); border-color: rgba(0, 0, 0, 0); color: rgba(196, 196, 196, 0.9);"/>
        </div>
        <div>
            <button type="submit" class="LoginButton" style="border: 2px; height: 70px; width: 70px; font-size: 22px; border-radius: 12px;">Login</button>
        </div>
    </form>
</body>
</html>